<h1 style="text-align:center">Luqy Movie Database</h1>

<table border="1" style="width:75%; margin:auto">
  <tr>
    <th>Title</th>
	<th>On Netflix?</th>
	<th>On Amazon?</th>
	<th>On Hulu?</th>
	<th>Year Released</th>
	<th>Runtime</th>
	<th>Director</th>
	
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
	  <td><%= movie.netflix %></td>
	  <td><%= movie.amazon %></td>
	  <td><%= movie.hulu %></td>
      <td><%= movie.year %></td>
	  <td><%= movie.runtime %></td>
	  <td><%= movie.director %></td>	  
    </tr>
  <% end %>
</table>

