<h1 style="text-align:center">Luqy Movie Database</h1>

<h1 style="text-align:center"><%= form_tag movies_path,  :method=> 'get' do %>
  <%= label_tag "Search for a movie" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Lift off!", :name=> nil %>
<% end %></h1>

<table border="1" style="width:75%; margin:auto">
  <tr>
    <th><%= link_to "Title", :sort => "title" %></th>
    <th>Available Streaming Services</th>
	<th><%= link_to "Year Released", :sort => "year" %></th>
	
  </tr>
 
  <% @movies.each do |movie| %>
    <tr style="height: 50px">
      <td><%= link_to movie.title, movie_path(movie) %></td>
	  <td style="text-align:center; width: 100px"><%= if movie.amazon == "Yes" then image_tag "AmazonPrimeLogo.png" end %>
	  <%= if movie.netflix == "Yes" then image_tag "NetflixLogo.png" end %>
	  <%= if movie.hulu == "Yes" then image_tag "HuluLogo.png" end %></td>
      <td style="text-align:center; width: 100px"><%= movie.year %></td>  
    </tr>
  <% end %>
</table>

<p style="text-align:center"><%= link_to 'Add Movie', new_movie_path %>
