<h1 style="text-align:center">Luqy Movie Database</h1>

<h1 style="text-align:center"><%= form_tag movies_path,  :method=> 'get' do %>
  <%= label_tag "Search for a movie" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Lift off!", :name=> nil %>
<% end %></h1>

<table border="1" style="width:75%; margin:auto">
  <tr>
    <th>Title</th>
	<th>On Netflix?</th>
	<th>On Amazon?</th>
	<th>On Hulu?</th>
	<th>Year Released</th>
	<th>Runtime</th>
	<th>Director</th>
	
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, movie_path(movie) %></td>
	  <td><%= movie.netflix %></td>
	  <td><%= movie.amazon %></td>
	  <td><%= movie.hulu %></td>
      <td><%= movie.year %></td>
	  <td><%= movie.runtime %></td>
	  <td><%= movie.director %></td>	  
    </tr>
  <% end %>
</table>

<p style="text-align:center"><%= link_to 'Add Movie', new_movie_path %>
