<center><%= image_tag("LuqySevenLogo.png", :alt => "LuqySevenLogo", :height => "30%", :width => "30%") %></center>

<div id="content">

<h2 style="color:black">
  <%= @movie.title %>
</h2>
 
<p>
  <strong style="color:#006699">Year:&nbsp;</strong>
  <%= @movie.year %>
</p>

<p>
  <strong style="color:#006699">Runtime:&nbsp;</strong>
  <%= @movie.runtime %>
</p>

<p>
  <strong style="color:#006699">Director:&nbsp;</strong>
  <%= @movie.director %>
</p>

<p>
  <strong style="color:#006699">On Netflix:&nbsp;</strong>
  <%= @movie.netflix %>
</p>

<p>
  <strong style="color:#006699">On Amazon:&nbsp;</strong>
  <%= @movie.amazon %>
</p>

<p>
  <strong style="color:#006699">On Hulu:&nbsp;</strong>
  <%= @movie.hulu %>
</p>

<p>
  <strong style="color:#006699">Description:&nbsp;</strong>
  <%= @movie.description %>
</p>
</div>
<center>
<%= link_to 'Edit', edit_movie_path(@movie), :class=>"buttonLink" %>
<%= link_to 'Back to Movie List', movies_path, :class=>"buttonLink"%>
</center>

